body {
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
}

div {
  background-color: #E4F9F5;
}

h1 {
  font-family: "Sacramento", cursive;
  margin-top: 0;
  top: 30%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-style: italic;
}

.cloud {
  position: absolute;
  right: 25%;
  top: 8%;
}

.bottom-cloud {
  position: absolute;
  top: 18%;
  left: 17%;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {}

.bottom-container {}
